.footer-container{
    background-color: #111729;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #101013;
    z-index: 999;
    width: 100%;
}

.content-text{
    color: #9ca3af;
    opacity: 0.7;
}
