<div class="container">
    <section class="intro" id="inicio">
        <div class="intro-texts">
            <p class="title slide-down">Comprometido em impulsionar o desenvolvimento de <span class="contrast-text">soluções digitais</span> inovadoras.</p>
            <p class="subtitle slide-down">Combinando habilidades técnicas e profissionais para transformar desafios complexos em códigos eficientes.</p>
            <a class="slide-down" href="https://www.linkedin.com/in/lucasmarques0/overlay/1635534297266/single-media-viewer/?profileId=ACoAAD1m2E8BoNlVz_vRzQ58FzSVrUDOpu-c04g" target="_blank"><button class="intro-botao">Visualizar Currículo</button></a>
        </div>
        <img class="intro-image slide-down" src="../../../assets/image-intro.png">
    </section>

    
    <section class="sobre" id="sobre">
        <div class="sobre-container">
            <img class="sobre-image slide-down" src="../../../assets/image-perfil.jpg">
            <div class="sobre-image-responsive slide-down"></div>
            <div class="sobre-content slide-down">
                <div class="sobre-texts">
                    <h4 class="contrast-text">Quem sou</h4>
                    <h2>Lucas Marques</h2>
                    <h3>Frontend Developer (Web & Mobile)</h3>
                    <p>Meu nome é Lucas Marques, e com uma jornada de mais de 3 anos na programação, me encontro atuando profissionalmente como desenvolvedor front-end (Angular). Paralelamente, estou sempre aprendendo tecnologias novas para me auxiliar em projeto pessoais e empresariais, estou me especializando no desenvolvimento mobile com React Native, e estudando back-end com C#.</p>
                </div>
                <div class="sobre-social slide-down">
                    <a href="https://www.linkedin.com/in/lucasmarques0/" target="_blank"><img class="social-icons" src="../../../assets/social-icons/icon-linkedin.png"></a>
                    <a href="https://github.com/lucas-marques-0" target="_blank"><img class="social-icons" src="../../../assets/social-icons/icon-github.png"></a>
                    <a href="mailto:lucasmarqueshzx@gmail.com" target="_blank"><img class="social-icons" src="../../../assets/social-icons/icon-mail.png"></a>
                    <a href="https://www.instagram.com/lucasmarquesfm/" target="_blank"><img class="social-icons" src="../../../assets/social-icons/icon-instagram.png"></a>
                    <a href="https://open.spotify.com/user/5fxpyqnaewy0v9dujn2zoez5s?si=ca4f95075e4d4761" target="_blank"><img class="social-icons" src="../../../assets/social-icons/icon-spotify.png"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="experiencias" id="experiencias">
        <div class="experiencias-content">
            <h2>Experiências</h2>
            <div class="exp slide-down">
                <div class="exp-top">
                    <h4>Desenvolvedor Frontend Angular</h4>
                    <p>Out 2022 - Atual (1 ano)</p>
                </div>
                <h5 class="empresa">Elógica</h5>
                <p class="descricao">
                    Responsável pelo desenvolvimento de componentes reutilizáveis e responsivos em Angular, utilizando Html, Css e TypeScript. Criação de telas completas, com suas respectivas funções, design, e comunicação com o nosso banco de dados. Colaboração constante com os times de desenvolvimento Back-end e UX/UI Design, para tomar decisões visuais e melhorar a integração das camadas do projeto.
                </p>
            </div>
            <div class="exp slide-down">
                <div class="exp-top">
                    <h4>Estudante de Desenvolvimento</h4>
                    <p>Fev 2021 - Atual (3 anos)</p>
                </div>
                <h5 class="empresa">Faculdade + Cursos</h5>
                <p class="descricao">
                    A minha experiência no meio acadêmico inclui a minha faculdade e alguns cursos de programação, sendo o principal deles o cuso de desenvolvimento web full stack do ProgramadorBr, onde aprendi todas as ferramentas para desenvolvimento web por meio de projetos práticos. Estou me graduando em Ciência da Computação, em uma instituição onde a grade curricular é feita em convênio com a CESAR School e por profissionais de grandes empresas.
                </p>
            </div>
        </div>
    </section>

    <section class="projetos" id="projetos">
        <div class="projetos-content">
            <h2>Projetos</h2>
            <div class="projetos-cards">
                <div class="card slide-down" id="card1">
                    <img src="../../../assets/fundo-projeto-em-breve.png">
                    <h3 class="card-title">Em breve...</h3>
                    <p class="card-text">Esse projeto ainda está em construção.</p>
                    <a href="https://github.com/lucas-marques-0/jogo-da-memoria" target="_blank">Visualizar projeto</a>
                </div>
                <div class="card slide-down" id="card2">
                    <img src="../../../assets/fundo-projeto-em-breve.png">
                    <h3 class="card-title">Em breve...</h3>
                    <p class="card-text">Esse projeto ainda está em construção.</p>
                    <a href="https://github.com/lucas-marques-0/jogo-da-memoria" target="_blank">Visualizar projeto</a>
                </div>
                <div class="card slide-down" id="card3">
                    <img src="../../../assets/fundo-projeto-em-breve.png">
                    <h3 class="card-title">Em breve...</h3>
                    <p class="card-text">Esse projeto ainda está em construção.</p>
                    <a href="https://github.com/lucas-marques-0/jogo-da-memoria" target="_blank">Visualizar projeto</a>
                </div>
            </div>
            <div class="btn-center slide-down">
                <a href="https://github.com/lucas-marques-0?tab=repositories" target="_blank"><button class="projetos-botao">Mais Projetos no GitHub</button></a>
            </div>
        </div>
    </section>

    <section class="conhecimentos" id="conhecimentos">
        <div class="conhecimentos-content">
            <h2>Conhecimentos</h2>
            <div class="infos-grid">
                <div class="infos-card">
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-html.png">
                        <h4>Html</h4>
                        <p>é a base da web, usando tags para estruturar e exibir conteúdo, como texto, imagens e links, nos navegadores.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-css.png">
                        <h4>Css</h4>
                        <p>dá estilo a páginas web, controlando cores, fontes e layout, para uma apresentação visual atraente.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-javascript.png">
                        <h4>Javascript</h4>
                        <p>traz vida à web, adicionando interatividade e animações a elementos na página.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-typescript.png">
                        <h4>Typescript</h4>
                        <p>estende o JavaScript, fornecendo tipagem estática e recursos modernos para desenvolvimento mais robusto.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-angular.png">
                        <h4>Angular</h4>
                        <p>simplifica a criação de aplicativos web complexos por meio de uma estrutura organizada.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-react.png">
                        <h4>ReactJS</h4>
                        <p>Enquanto o React é usado para criar interfaces web interativas, o React Native permite desenvolver aplicativos móveis nativos para iOS e Android usando os mesmos princípios do React.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-bootstrap.png">
                        <h4>Bootstrap</h4>
                        <p>é um framework front-end que agiliza o design responsivo de sites e aplicativos com estilos predefinidos e componentes.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-git.png">
                        <h4>Git</h4>
                        <p>é um sistema de controle de versão que organiza mudanças no código, simplificando a colaboração e permitindo o gerenciamento do projetos.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-github.png">
                        <h4>Github</h4>
                        <p>é uma plataforma de hospedagem que usa o Git como base, fornecendo ferramentas para compartilhar código, colaborar em projetos e rastrear problemas.</p>
                    </div>             
                </div>
            </div>
        </div>
    </section> 
</div>
