<div class="container">
    <section class="intro" id="inicio">
        <div class="intro-texts">
            <p class="title slide-down">Comprometido em impulsionar o desenvolvimento de <span class="contrast-text">soluções digitais</span> inovadoras.</p>
            <p class="subtitle slide-down">Agrego valor técnico enquanto promovo ideias, contribuindo para a excelência de qualquer projeto, seja ele qual for.</p>
            <a class="slide-down" href="https://www.linkedin.com/in/lucasmarques0/overlay/1635551275393/single-media-viewer/?profileId=ACoAAD1m2E8BoNlVz_vRzQ58FzSVrUDOpu-c04g" target="_blank"><button class="intro-botao">Visualizar Currículo</button></a>
        </div>
        <img class="intro-image slide-down" src="../../../assets/image-intro.png">
    </section>

    
    <section class="sobre" id="sobre">
        <div class="sobre-container">
            <img class="sobre-image slide-down" src="../../../assets/image-perfil2.png">
            <div class="sobre-image-responsive slide-down"></div>
            <div class="sobre-content slide-down">
                <div class="sobre-texts">
                    <h4 class="contrast-text">Quem sou</h4>
                    <h2>Lucas Marques</h2>
                    <h3>Full Stack Developer</h3>
                    <p>Há alguns anos atuo profissionalmente como desenvolvedor Full Stack em Angular e NodeJS. Minha trajetória inclui contribuições significativas em projetos de grande relevância, desde iniciativas acadêmicas até colaborações profissionais em projetos governamental. Em todos os projeto que já participei, não apenas me destaquei no desenvolvimento, mas também desempenhei um papel fundamental na concepção visual e apresentação de ideias para aprimorar o produto final.</p>
                </div>
                <div class="sobre-social slide-down">
                    <a href="mailto:lucasmarqueshzx@gmail.com" target="_blank"><img class="social-icons" src="../../../assets/social-icons/icon-mail.png"></a>
                    <a href="https://github.com/lucas-marques-0" target="_blank"><img class="social-icons" src="../../../assets/social-icons/icon-github.png"></a>
                    <a href="https://www.linkedin.com/in/lucasmarques0/" target="_blank"><img class="social-icons" src="../../../assets/social-icons/icon-linkedin.png"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="experiencias" id="experiencias">
        <div class="experiencias-content">
            <h2>Experiências</h2>
            <div class="exp slide-down">
                <div class="exp-top">
                    <h4>Desenvolvedor Full Stack Angular</h4>
                    <p>Out 2022 - Dec 2023 (1.2 anos)</p>
                </div>
                <h5 class="empresa">Elógica</h5>
                <p class="descricao">
                    Responsável pelo desenvolvimento de componentes reutilizáveis e responsivos em Angular, utilizando Html, Css e TypeScript. Criação de telas completas, com suas respectivas funções, design, e comunicação com o nosso banco de dados. Colaboração constante com os times de desenvolvimento Back-end e UX/UI Design, para tomar decisões visuais e melhorar a integração das camadas do projeto.
                </p>
            </div>
            <div class="exp slide-down">
                <div class="exp-top">
                    <h4>Estudante de Desenvolvimento</h4>
                    <p>Fev 2021 - Atual (3 anos)</p>
                </div>
                <h5 class="empresa">Faculdade + Cursos</h5>
                <p class="descricao">
                    Me formei em ADS e estou finalizando Ciência da Computação em uma graduação dupla. A grade curricular da minha instituição foi elaborada por profissionais de destaque em grandes empresas, proporcionando um sólido alinhamento às exigências do mercado. Além da faculdade, busquei cursos mais práticos, como o de Desenvolvimento Full Stack do ProgramadorBr, onde adquiri as habilidades que aplico atualmente em projetos pessoais e empresariais.
                </p>
            </div>
        </div>
    </section>

    <section class="projetos" id="projetos">
        <div class="projetos-content">
            <h2>Projetos</h2>
            <div class="projetos-cards">
                <div class="card slide-down" id="card1">
                    <img src="../../../assets/fundo-projeto-em-breve.png">
                    <h3 class="card-title">Em breve...</h3>
                    <p class="card-text">Esse projeto ainda está em construção.</p>
                    <a href="https://github.com/lucas-marques-0/portfolio-pessoal" target="_blank">Visualizar projeto</a>
                </div>
                <div class="card slide-down" id="card2">
                    <img src="../../../assets/fundo-projeto-em-breve.png">
                    <h3 class="card-title">Em breve...</h3>
                    <p class="card-text">Esse projeto ainda está em construção.</p>
                    <a href="https://github.com/lucas-marques-0/portfolio-pessoal" target="_blank">Visualizar projeto</a>
                </div>
                <div class="card slide-down" id="card3">
                    <img src="../../../assets/fundo-projeto-em-breve.png">
                    <h3 class="card-title">Em breve...</h3>
                    <p class="card-text">Esse projeto ainda está em construção.</p>
                    <a href="https://github.com/lucas-marques-0/portfolio-pessoal" target="_blank">Visualizar projeto</a>
                </div>
            </div>
            <div class="btn-center slide-down">
                <a href="https://github.com/lucas-marques-0?tab=repositories" target="_blank"><button class="projetos-botao">Mais Projetos no GitHub</button></a>
            </div>
        </div>
    </section>

    <section class="conhecimentos" id="conhecimentos">
        <div class="conhecimentos-content">
            <h2>Conhecimentos</h2>
            <div class="infos-grid">
                <div class="infos-card">
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-angular.png">
                        <h4>Angular</h4>
                        <p>Total proficiência na arquitetura e organização do framework, perfeita implementação entre componentes, serviços, módulos, dependências e diretivas.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-react.png">
                        <h4>ReactJS</h4>
                        <p>Familiaridade com componentes interativos, gestão de estado por meio de hooks, e desenvolvimento organizado para soluções altamente escaláveis.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-nodejs.png">
                        <h4>NodeJS</h4>
                        <p>Crio APIs organizadas e com tratamento de erro, capazes de se encaixar como uma luva em qualquer aplicação front-end.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-sql.png">
                        <h4>SQL</h4>
                        <p>Habilidoso em consultas SQL, integrando-as ao back-end para gestão eficiente de dados e preservação da integridade do sistema.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-typescript.png">
                        <h4>Typescript</h4>
                        <p>Crio aplicações robustas e escaláveis, utilizando tipos estáticos, interfaces, classes, decorators e outros recursos avançados.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-javascript.png">
                        <h4>Javascript</h4>
                        <p>Minha habilidade abrange desde a manipulação eficaz do DOM até a implementação de lógica assíncrona, proporcionando soluções ágeis e responsivas.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-html.png">
                        <h4>Html</h4>
                        <p>Crio estruturas organizadas e semânticas para páginas web, sem esquecer das técnicas de SEO e de acessibilidade.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-css.png">
                        <h4>Css</h4>
                        <p>Com uma ótima noção de UI/UX, crio designs elegantes e responsivos que elevam a experiência do usuário em todas as plataformas.</p>
                    </div>
                    <div class="card-conhecimento slide-down">
                        <img src="../../../assets/tech-icons/icon-git.png">
                        <h4>Git / Github</h4>
                        <p>Organizo minhas alterações, facilitando a colaboração efetiva e a manutenção do histórico do projeto.</p>
                    </div>             
                </div>
            </div>
        </div>
    </section> 
</div>
